*{
    margin: 0;
}

.header-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(181, 228, 240);
       
}

#h-1{
    background-color: rgb(38, 187, 228);
    width:25rem;
    font-size: 60px;
    text-align: right;
    padding-right: 1rem;
    
}
.nav-list{
    display: flex;
    width: 1027px;
    height: 5rem;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
}

figure{
    position: relative;
}

.img-1{
    width: 100%;
}
figcaption{
    position:absolute;
    bottom:12px;
    right:19px;
    font-size: 30px;
    background-color: rgb(38, 187, 228);
}

.box2{
    display: flex;
  
    
}

.box-h2{
    font-size: 60px;
    width:250px;
    margin-left: 10rem;
    padding-right: 2rem;
    border-right: 3px solid black;
    justify-content: right;
    flex-wrap: wrap;

}

.box-p2{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}

.box3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.box-h3{
    font-size: 60px;
    width:250px;
    margin-left: 10rem;
    width: fit-content;
    border-right: 3px solid black;
    

}

.big-image{
   
    padding-left: 2rem;
    height: 500px;;   
    width: 100%; 
    object-fit: cover;
}










/*

@media screen (max-width: 320px) {
    body{ 
        font-size:16px;

    }
}

@media screen (max-width :320px) {
    main {
        font-szie :16px;
    }
    
}
@me